.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  .inputContainer {
    margin-top: 24px;
    width: 100%;
    max-width: 400px;
  }

  .buttonContainer {
    margin-top: 40px;
    width: 100%;
    max-width: 400px;
  }
}
