.commonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  // padding-top: 80px;
  width: 100%;

  .titleWrapper {
    text-align: center;
    height: 70px; // Фиксированная высота для заголовков
  }

  .inputContainer {
    margin-top: 24px;
    width: 100%;
    max-width: 400px;
  }

  .buttonContainer {
    margin-top: 40px;
    width: 100%;
    max-width: 400px;
  }
}
