.commonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  // padding-top: 0px;
  width: 100%;

  .titleWrapper {
    text-align: center;
    height: 70px; // Фиксированная высота для заголовков
  }

  .banksContainer {
    margin-top: 24px;
    width: 100%;
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  .bankOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #0f1114;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
    &:nth-child(5) {
      grid-column: 1 / span 2;
    }
    &:hover {
      background-color: #1a1c1f;
    }
    &.selected {
      background-color: #1a1c1f;
    }

    &.singleBank {
      grid-column: 1 / span 2;
    }

    &:nth-child(5) {
      grid-column: 1 / span 2; // Можно оставить, если надо для 5 элемента
    }
  }
  .discountWrapper {
    border-radius: 4px;
    background: #228e5d1a;
    backdrop-filter: blur(16px);
    color: #228e5d;
    font-weight: 500;
    font-size: 14px;
    padding: 4px;
    margin-left: 8px;
  }

  .bankName {
    display: flex;
    align-items: center;
  }

  .radioButton {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 2px solid #3a3d40;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &.selected {
      border: 2px solid #00b67a;
      background-color: #1a1c1f;
      &:after {
        content: "";
        position: absolute;
        width: 9px;
        height: 9px;
        background-color: #228e5d;
        border-radius: 50%;
        margin: auto;
      }
    }
  }
  .buttonContainer {
    margin-top: 24px;
    width: 100%;
    max-width: 400px;
  }
}
