@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE и Edge */
}

*::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  background-color: transparent !important;
  display: none !important;
}

html {
  /* height: 100dvh; */
  scrollbar-width: none;
  -ms-overflow-style: none;
  overscroll-behavior: none;
}

html::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  background-color: transparent !important;
  display: none !important;
}

/* .no-scroll {
  overflow-y: hidden;
} */

body {
  /* height: 100dvh; */
  font-family: 'Susse Int', sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: #000;
}

body::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  background-color: transparent !important;
  display: none !important;
}

:root {
  --tg-viewport-height: 100vh;
  --tg-viewport-stable-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #000;
  }
  button {
    background-color: #f9f9f9;
  }
}

html, body {
  -webkit-overflow-scrolling: touch;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

* {
  -webkit-tap-highlight-color: transparent;
}

textarea, input, select, button {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

.tg-root {
  min-height: 100vh;
  overflow-y: auto !important;
  scrollbar-width: none;
}
